.account-info-header {
  font-size: 30;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.field-label {
  display: inline-block;
  width: 150px;
}

.update-button {
  background-color: rgb(75, 77, 124);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  padding: 10px;
  margin: 20px 10px 15px 10px;
  width: 320px;
  border-radius: 4px;
  border: 2px solid rgb(117, 124, 252);
}

.update-button:hover {
  background-color: rgb(59, 61, 131);
  cursor: pointer;
}

.current-new-password-message {
  width: 400px;
  margin-top: 10px;
  line-height: 22px;
  font-size: 18px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.current-new-password-message-container {
  padding-left: 10px;
  padding-right: 10px;
}