.game-board {
  padding: 15px;
  margin: 20px 15px;
  width: fit-content;
  height: fit-content;
  background: rgb(82, 94, 117);
  // background: rgb(109, 138, 190);
  border: 1px solid rgb(125, 147, 184);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-square {
  background: rgb(202, 213, 232);
}

.light-square:hover {
  background: rgb(132, 156, 196);
  border: 2px solid rgb(49, 83, 141);
}

.dark-square {
  background: rgb(8, 35, 77);
}

.dark-square:hover {
  background: rgb(18, 58, 122);
  border: 2px solid rgb(77, 129, 212);
}