:root {
  color: rgb(49, 53, 56);
  background-color: #b7d0d3;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #6a7677;
  min-height: 80px;
  max-height: 10vh;
  color: white;
}

hr {
  width: 80%;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: white;
}

th {
  border-bottom: 1px solid rgb(54, 54, 54);
}

td {
  /* border-bottom: 1px solid rgb(54, 54, 54); */
}

.center {
  display: flex;
  justify-content: center;
}

.form-group {
  padding: 10px;
}

.container {
  margin-bottom: 30px;
}